<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>Logincontroller</display-name>
    <servlet-name>Logincontroller</servlet-name>
    <servlet-class>com.studentapp.controller.Logincontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logincontroller</servlet-name>
    <url-pattern>/Logincontroller</url-pattern>
  </servlet-mapping>
  <display-name>LOG_IN_PAGE_1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NewRagistrationController</display-name>
    <servlet-name>NewRagistrationController</servlet-name>
    <servlet-class>com.studentapp.controller.NewRagistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewRagistrationController</servlet-name>
    <url-pattern>/NewRagistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadRegistration</display-name>
    <servlet-name>ReadRegistration</servlet-name>
    <servlet-class>com.studentapp.controller.ReadRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadRegistration</servlet-name>
    <url-pattern>/ReadRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRegistrationController</display-name>
    <servlet-name>DeleteRegistrationController</servlet-name>
    <servlet-class>com.studentapp.controller.DeleteRegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRegistrationController</servlet-name>
    <url-pattern>/DeleteRegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateregestrationController</display-name>
    <servlet-name>UpdateregestrationController</servlet-name>
    <servlet-class>com.studentapp.controller.UpdateregestrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateregestrationController</servlet-name>
    <url-pattern>/UpdateregestrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRegestrationController</display-name>
    <servlet-name>UpdateRegestrationController</servlet-name>
    <servlet-class>com.studentapp.controller.UpdateRegestrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRegestrationController</servlet-name>
    <url-pattern>/UpdateRegestrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.studentapp.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
</web-app>